<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Dashboard!
      </h1>
      <h2 class="subtitle">
        Something something subtitle
      </h2>
    </div>
  </div>

  <div class="hero-foot">
    <div class="container">
      <nav class="navbar">
        <div class="navbar-start">
          <%= link_to "Create New League", new_league_path, class: 'navbar-item' %>
        </div>
      </nav>
    </div>
  </div>
</section>

<div class="container">
  <div class="columns">
    <div class="column is-one-half is-10-mobile is-offset-1-mobile">
      <%= render partial: "shared/leagues_index_table", collection: @leagues %>
    </div>
    <div class="column is-one-half is-10-mobile is-offset-1-mobile">
      <%= render partial: "shared/leagues_index_table", collection: @leagues %>
    </div>
  </div>
</div>
