<section class="hero is-light is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Dashboard!
        </h1>
        <h2 class="subtitle">
          Something something
        </h2>
      </div>
    </div>

    <div class="hero-foot">
      <div class="container">
        <nav class="navbar">
          <div class="navbar-start">
            <%= link_to "New League", new_league_path, class: 'navbar-item' %>
          </div>
        </nav>
      </div>
    </div>
</section>
