<div class="box">
  <h1 class="title is-3">Seasons</h1>
  <div class="table-container">
    <table class="table is-striped is-narrow is-hoverable is-fullwidth table-container" id="seasons-index">
      <thead>
        <tr>
          <td>#</td>
          <td>Start Date</td>
          <td>Completed?</td>
          <td>Active?</td>
          <% if policy(@league).user_is_admin_on_league? %>
            <td>Actions</td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% if @seasons.empty? %>
          <tr>
            <td colspan="4">
              There are no seasons for this league.
            </td>
          </tr>
        <% else %>
          <% @seasons.each do |season| %>
          <tr>
            <td><%= season.number %></td>
            <td>N/A</td>
            <td>no</td>
            <td>no</td>
            <% if policy(@league).user_is_admin_on_league? %>
              <td>
                <%= button_to season, class: 'button is-danger delete-season', form_class: 'delete_season', method: :delete do %>
                  <span class="icon">
                    <i class="fas fa-times-circle"></i>
                  </span>
                <% end %>
              </td>
            <% end %>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
